<div class="center-block" style="border: 2px solid #083858; border-radius: 8px; width: 450px; padding: 0 10px 20px 20px;">
  <h1 class="text-center" style="color: #083858;">Login</h1>
  <form class="form " name="form" ng-submit="login(form)" novalidate>

    <div class="form-group">
      <label style="color: #083858;" for="loginEmail">Email</label><br/>
      <input type="email" name="email" class="form-control" placeholder="Enter email" id="loginEmail" ng-model="user.email" required>
    </div>

    <div class="form-group">
      <label style="color: #083858;">Password</label><br/>
      <input type="password" name="password" placeholder="Enter password" class="form-control" ng-model="user.password" required>
    </div>

    <div class="form-group has-error">
      <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
         Please enter your email and password.
      </p>
      <p class="help-block" ng-show="form.email.$error.email && submitted">
         Please enter a valid email.
      </p>

      <p class="help-block">{{ errors.other }}</p>
    </div>

    <div>
      <button class="btn btn-inverse btn-lg btn-primary" type="submit">
        Login
      </button>
      <a class="btn btn-default btn-lg btn-register" href="/signup">
        Register
      </a>
      <!-- do not support reset password now -->
      <!--
      <a class="btn btn-default btn-lg btn-link" href="/forgotpassword">
        Forgot Password
      </a>
      -->
      <a class="btn btn-default btn-lg btn-link" href="#">
        Forgot Password
      </a>
    </div>

    <hr>
    <div>
      <!-- do not support social auth now -->
      <!--
      <a class="btn btn-facebook" href="" ng-click="loginOauth('facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>
      <a class="btn btn-twitter" href="" ng-click="loginOauth('twitter')">
        <i class="fa fa-twitter"></i> Connect with Twitter
      </a>
      !-->
        
      <a class="btn btn-facebook" href="#">
        <i class="fa fa-facebook"></i> Connect with Facebook
      </a>
      <a class="btn btn-twitter" href="#">
        <i class="fa fa-twitter"></i> Connect with Twitter
      </a>
        
    </div>
  </form>
</div>

